*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #212121;
}

body{
    width: 100%;
    min-width: 1650px;
    font: 16px/1.42em;
    font-family: "Roboto", "Arial", sans-serif;
}

.hero{
    height: 100vh;
    min-height: 900px;
    background: url("../img/hero.jpg") 50% 50% / cover no-repeat;
}

.container{
    width: 1340px;
    padding: 0 20px;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail{
    width: 229px;
    text-align: center;
}

.mail__text-top{
    margin-bottom: 5px;
}

.mail__text-bottom{
    width: 100%;
    background: #212121;
    color: #ffbc2f;
    padding: 8px 4px;
}

.slider{
    width: 1165px;
    height: 600px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__img{
    width: 100%;
}

.goods{
    background-color: #fcf5e6;
    padding-top: 130px;
}

.nav{
    margin: 0 auto;
    margin-bottom: 120px;
    width: 970px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Yanone Kaffeesatz";
    font-size: 24px;
    text-transform: uppercase;
}

.nav__item:hover{
    color: #d82727;
}

.nav__item_active{
    background-color: #1b1b1b;
    color: #ffc92f;
    padding: 6px 17px;
}

.nav__item_active:hover{
    color: #ffc92f;
}

.shirts{
    width: 100%;
    height: 965px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.shirts__item{
    width: 300px;
    height: 390px;
    background-color: #ffc92f;
    position: relative;
}

.shirt{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.shirt__img{
    position: absolute;
    width: 90%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.shirt__item_size-big{
    width: 635px;
    height: 540px;
    background-color: #232323;
    margin-bottom: 30px;
}

.shirt__item_move-up{
    position: relative;
    bottom: 149px;
}

.shirt__desc{
    width: 100%;
    height: 146px;
    text-align: center;
    background-color: rgba(35, 35, 35, 0.8);
    color: #fcf5e6;
    position: absolute;
    bottom: 0;
    transition: transform 0.3s;
    transform: translateY(146px);
}

.shirt:hover .shirt__desc{
    transform: translateY(0px);
}

.shirt__text{
    margin-top: 26px;
    color: #fcf5e6;
}

.btn{
    display: inline-block;
    background-color: #1b1b1b;
    color: #ffc92f;
    font-family: "Yanone Kaffeesatz";
    font-size: 24px;
    padding: 9px 28px;
}

.shirt__btn{
    margin-top: 20px;
}

.shirts__price{
    position: absolute;
    top: 12px;
    left: -8px;
    border-bottom: 45px solid #232323;
    border-left: 5px solid transparent;
    border-right: 2px solid transparent;
    height: 0px;
    width: 110px;
    color: #fcf5e6;
    font-family: "Yanone Kaffeesatz";
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    transform: rotate(178deg);
}

.shirts__price-amount{
    transform: rotate(183deg) translateY(-3px);
}

.shirt__item_size-big .shirts__price{
    border-color: #ffc92f;
    color: #212121;
}


